%svg#comm{:space => "preserve", :style => "enable-background:new 0 0 414 205;", :version => "1.1", :viewbox => "0 0 414 205", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %rect.st0{:height => "83.3", :transform => "matrix(7.391396e-03 -1 1 7.391396e-03 290.3031 441.6044)", :width => "100", :x => "317.6", :y => "32.9"}
  %g
    %defs
      %rect#SVGID_1_{:height => "203.1", :width => "407.3", :x => "3", :y => "1.1"}
    %clippath#SVGID_2_
      %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_1_"}
    %rect.st1{:height => "83.3", :transform => "matrix(7.396230e-03 -1 1 7.396230e-03 290.3016 441.6042)", :width => "100", :x => "317.6", :y => "32.9"}
  %line.st2{:x1 => "336.5", :x2 => "399.7", :y1 => "38", :y2 => "38.2"}
  %line.st2{:x1 => "336.4", :x2 => "399.6", :y1 => "47", :y2 => "47.3"}
  %line.st2{:x1 => "336.3", :x2 => "363.2", :y1 => "67", :y2 => "67.2"}
  %line.st2{:x1 => "368.5", :x2 => "399.4", :y1 => "67.4", :y2 => "67.4"}
  %line.st2{:x1 => "336.3", :x2 => "373.3", :y1 => "57.1", :y2 => "57.1"}
  %line.st2{:x1 => "381.6", :x2 => "399.5", :y1 => "57.3", :y2 => "57.4"}
  %line.st2{:x1 => "336.2", :x2 => "399.2", :y1 => "83.1", :y2 => "83.3"}
  %line.st2{:x1 => "336.1", :x2 => "399.1", :y1 => "94.1", :y2 => "94.3"}
  %line.st2{:x1 => "336.1", :x2 => "399", :y1 => "101.4", :y2 => "101.6"}
  %line.st2{:x1 => "336", :x2 => "399", :y1 => "113.3", :y2 => "113.5"}
  %g
    %defs
      %rect#SVGID_3_{:height => "203.1", :width => "407.3", :x => "3", :y => "1.1"}
    %clippath#SVGID_4_
      %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_3_"}
    %path.st3{:d => "M269.4,102.6H130.9c-1.8,0-3.3-1.5-3.3-3.3V5c0-1.8,1.5-3.3,3.3-3.3h138.5c1.8,0,3.3,1.5,3.3,3.3v94.2\n\t\tC272.7,101.1,271.2,102.6,269.4,102.6z"}
    %path.st3{:d => "M269.4,203.5H130.9c-1.8,0-3.3-1.5-3.3-3.3V106c0-1.8,1.5-3.3,3.3-3.3h138.5c1.8,0,3.3,1.5,3.3,3.3v94.2\n\t\tC272.7,202,271.2,203.5,269.4,203.5z"}
  %rect.st0{:height => "84.3", :width => "130.3", :x => "135", :y => "8.9"}
  %rect.st2{:height => "84.3", :width => "130.3", :x => "135", :y => "8.9"}
  %rect.st4{:height => "8.6", :width => "130.3", :x => "135", :y => "8.9"}
  %rect.st2{:height => "8.6", :width => "130.3", :x => "135", :y => "8.9"}
  %line.st5{:x1 => "141.3", :x2 => "155.9", :y1 => "24", :y2 => "24"}
  %path.st6{:d => "M168.5,46.6h11.3 M154.9,46.6h10.2 M147,46.6h4.5 M176.4,31.9h4.5 M159.4,31.9H173 M147,31.9h6.8 M144.7,27.4\n\th5.7 M160.6,24h6.8"}
  %line.st7{:x1 => "147", :x2 => "151.3", :y1 => "62.7", :y2 => "62.7"}
  %path.st6{:d => "M170.8,62.7H181 M156.1,62.7h10.2"}
  %line.st7{:x1 => "155", :x2 => "170.7", :y1 => "27.4", :y2 => "27.4"}
  %line.st2{:x1 => "174.3", :x2 => "190.1", :y1 => "27.4", :y2 => "27.4"}
  %line.st7{:x1 => "193.7", :x2 => "200.3", :y1 => "27.4", :y2 => "27.4"}
  %line.st2{:x1 => "205.1", :x2 => "218.5", :y1 => "27.4", :y2 => "27.4"}
  %line.st6{:x1 => "144.7", :x2 => "150.2", :y1 => "42.2", :y2 => "42.2"}
  %line.st2{:x1 => "153.8", :x2 => "165", :y1 => "42.2", :y2 => "42.2"}
  %line.st2{:x1 => "168.6", :x2 => "176.4", :y1 => "42.2", :y2 => "42.2"}
  %line.st2{:x1 => "181.2", :x2 => "200.3", :y1 => "42.2", :y2 => "42.2"}
  %line.st7{:x1 => "205.1", :x2 => "210.6", :y1 => "42.2", :y2 => "42.2"}
  %line.st6{:x1 => "144.7", :x2 => "157", :y1 => "57", :y2 => "57"}
  %line.st2{:x1 => "161.8", :x2 => "170.7", :y1 => "57", :y2 => "57"}
  %line.st7{:x1 => "175.5", :x2 => "183.2", :y1 => "57", :y2 => "57"}
  %line.st6{:x1 => "170.9", :x2 => "184.4", :y1 => "24", :y2 => "24"}
  %line.st5{:x1 => "141.3", :x2 => "150.2", :y1 => "36.5", :y2 => "36.5"}
  %path.st6{:d => "M168.5,36.5h2.3 M175.3,36.5h5.7 M152.7,36.5H164"}
  %line.st5{:x1 => "142.5", :x2 => "165", :y1 => "52.4", :y2 => "52.4"}
  %path.st8{:d => "M147,77.3h4.5 M189,52.5h5.7 M170.8,52.5h13.6"}
  %line.st7{:x1 => "156.1", :x2 => "166.1", :y1 => "77.5", :y2 => "77.5"}
  %path.st6{:d => "M144.7,73h12.5 M170.8,77.3H181"}
  %line.st2{:x1 => "161.8", :x2 => "170.7", :y1 => "72.9", :y2 => "72.9"}
  %line.st7{:x1 => "175.5", :x2 => "183.2", :y1 => "72.9", :y2 => "72.9"}
  %line.st5{:x1 => "142.5", :x2 => "152.5", :y1 => "67.2", :y2 => "67.2"}
  %path.st6{:d => "M181,67.2h9.1 M157.3,67.2h20.4"}
  %rect.st0{:height => "26.8", :width => "43.9", :x => "178.2", :y => "169"}
  %rect.st9{:height => "26.8", :width => "43.9", :x => "178.2", :y => "169"}
  %rect.st0{:height => "7.5", :width => "13.2", :x => "251.8", :y => "130.6"}
  %rect.st10{:height => "7.5", :width => "13.2", :x => "251.8", :y => "130.6"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "157.8", :y => "130.4"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "157.8", :y => "130.4"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "171.3", :y => "130.4"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "171.3", :y => "130.4"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "164", :y => "153.2"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "164", :y => "153.2"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "150", :y => "153.2"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "150", :y => "153.2"}
  %rect.st0{:height => "7.5", :width => "11.2", :x => "135.2", :y => "153.2"}
  %rect.st10{:height => "7.5", :width => "11.2", :x => "135.2", :y => "153.2"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "185", :y => "130.4"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "185", :y => "130.4"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "198.4", :y => "130.4"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "198.4", :y => "130.4"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "211.9", :y => "130.4"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "211.9", :y => "130.4"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "225.6", :y => "130.4"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "225.6", :y => "130.4"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "238.6", :y => "130.4"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "238.6", :y => "130.4"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "229.5", :y => "153"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "229.5", :y => "153"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "242.3", :y => "153"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "242.3", :y => "153"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "255.7", :y => "153"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "255.7", :y => "153"}
  %rect.st0{:height => "7.5", :width => "18.7", :x => "135.2", :y => "130.4"}
  %rect.st10{:height => "7.5", :width => "18.7", :x => "135.2", :y => "130.4"}
  %rect.st0{:height => "7.5", :width => "12.3", :x => "135.1", :y => "141.5"}
  %rect.st10{:height => "7.5", :width => "12.3", :x => "135.1", :y => "141.5"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "151.7", :y => "141.5"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "151.7", :y => "141.5"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "165.1", :y => "141.5"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "165.1", :y => "141.5"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "178.6", :y => "141.5"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "178.6", :y => "141.5"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "191.5", :y => "141.5"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "191.5", :y => "141.5"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "205", :y => "141.5"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "205", :y => "141.5"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "218.5", :y => "141.5"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "218.5", :y => "141.5"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "232.1", :y => "141.4"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "232.1", :y => "141.4"}
  %rect.st0{:height => "7.5", :width => "18.7", :x => "246.3", :y => "141.5"}
  %rect.st10{:height => "7.5", :width => "18.7", :x => "246.3", :y => "141.5"}
  %rect.st0{:height => "7.5", :width => "12.3", :x => "135.1", :y => "118.7"}
  %rect.st10{:height => "7.5", :width => "12.3", :x => "135.1", :y => "118.7"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "151.7", :y => "118.7"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "151.7", :y => "118.7"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "165.1", :y => "118.7"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "165.1", :y => "118.7"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "178.6", :y => "118.7"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "178.6", :y => "118.7"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "191.5", :y => "118.7"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "191.5", :y => "118.7"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "205", :y => "118.7"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "205", :y => "118.7"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "218.5", :y => "118.7"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "218.5", :y => "118.7"}
  %rect.st0{:height => "7.5", :width => "9.5", :x => "232.1", :y => "118.6"}
  %rect.st10{:height => "7.5", :width => "9.5", :x => "232.1", :y => "118.6"}
  %rect.st0{:height => "7.5", :width => "18.7", :x => "246.3", :y => "118.7"}
  %rect.st10{:height => "7.5", :width => "18.7", :x => "246.3", :y => "118.7"}
  %rect.st0{:height => "7.5", :width => "46.6", :x => "178.6", :y => "153.3"}
  %rect.st10{:height => "7.5", :width => "46.6", :x => "178.6", :y => "153.3"}
  %g
    %defs
      %rect#SVGID_5_{:height => "203.1", :width => "407.3", :x => "3", :y => "1.1"}
    %clippath#SVGID_6_
      %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_5_"}
    %path.st11{:d => "M310.5,195.1L310.5,195.1c-8,0-14.5-6.5-14.5-14.5v-19.7c0-8,6.5-14.5,14.5-14.5s14.5,6.5,14.5,14.5v19.7\n\t\tC325,188.5,318.5,195.1,310.5,195.1"}
    %path.st12{:d => "M310.5,195.1L310.5,195.1c-8,0-14.5-6.5-14.5-14.5v-19.7c0-8,6.5-14.5,14.5-14.5s14.5,6.5,14.5,14.5v19.7\n\t\tC325,188.5,318.5,195.1,310.5,195.1z"}
    %path.st13{:d => "M313.3,158.5c0,1.5-1.2,2.7-2.7,2.7c-1.5,0-2.7-1.2-2.7-2.7c0-1.5,1.2-2.7,2.7-2.7\n\t\tC312.1,155.8,313.3,157,313.3,158.5"}
    %path.st12{:d => "M109.4,147.3c-14.2,0.2-43.3,2.3-47.5,3c-0.1,1.3-1,9.1-1.2,9.6c0.1,0.7,2.8,5.4,3.1,6.6\n\t\tc0.3,0.6,3.5,8,7.2,10c1.7,0.7,2.7,1.6,14.2,1.6c5.7-0.2,15-1.4,17.9-5.5c2.2-3.3,4.2-12.7,4.4-15.3c0.7-2.1,1.2-3.1,1.9-4\n\t\tC109.5,152.1,109.4,147.3,109.4,147.3z"}
    %path.st12{:d => "M3.8,147.3c14.2,0.2,43.3,2.3,47.5,3c0.1,1.3,1,9.1,1.2,9.6c-0.1,0.7-2.8,5.4-3.1,6.6c-0.3,0.6-3.5,8-7.2,10\n\t\tc-1.7,0.7-2.7,1.6-14.2,1.6c-5.7-0.2-15-1.4-17.9-5.5c-2.2-3.3-4.2-12.7-4.4-15.3c-0.7-2.1-1.2-3.1-1.9-4\n\t\tC3.6,152.1,3.8,147.3,3.8,147.3z"}
    %path.st14{:d => "M43,152.1c2.7,0.3,6.7,1,5.7,6.1c-0.4,2.9-2.6,10.3-5.1,13.3c-1,1.1-2.2,3.9-9,3.9s-12.4-0.1-18.5-2.4\n\t\tc-2.5-1.2-4.1-1.8-5.6-7.5c-1.6-5.4-1.3-12-1.1-12.6c0.2-0.6,0.4-2.5,4.5-2.5C18.1,150.3,34.6,150.9,43,152.1z"}
    %path.st15{:d => "M51.5,150.2c0,0,5.5,0.9,10.2,0c-0.3,1.9-1,8.7-1.2,9.4c-0.5-0.5-3.7-2.7-7.7,0\n\t\tC52.2,156.7,51.5,150.2,51.5,150.2"}
    %path.st12{:d => "M51.5,150.2c0,0,5.5,0.9,10.2,0c-0.3,1.9-1,8.7-1.2,9.4c-0.5-0.5-3.7-2.7-7.7,0\n\t\tC52.2,156.7,51.5,150.2,51.5,150.2z"}
    %path.st12{:d => "M70.1,152.1c-2.7,0.3-6.7,1-5.7,6.1c0.4,2.9,2.6,10.3,5.1,13.3c1,1.1,2.2,3.9,9,3.9c6.8,0,12.4-0.1,18.5-2.4\n\t\tc2.5-1.2,4.1-1.8,5.6-7.5c1.6-5.4,1.3-12,1.1-12.6c-0.2-0.6-0.4-2.5-4.5-2.5C95,150.3,78.5,150.9,70.1,152.1z"}
    %path.st16{:d => "M308.8,46l-4-11.6c-0.1-0.4-0.7-0.4-0.9,0L300,46"}
    %path.st17{:d => "M308.8,46l-4-11.6c-0.1-0.4-0.7-0.4-0.9,0L300,46"}
    %path.st13{:d => "M304.4,34.1c-0.4,0-1.5,3.4-1.5,3.4l3,0C306,37.4,304.9,34.1,304.4,34.1"}
    %path.st15{:d => "M300,46h4.4h4.4v78.7c0,0.2-0.2,0.4-0.4,0.4h-7.9c-0.2,0-0.4-0.2-0.4-0.4V46z"}
    %path.st17{:d => "M300,46h4.4h4.4v78.7c0,0.2-0.2,0.4-0.4,0.4h-7.9c-0.2,0-0.4-0.2-0.4-0.4V46z"}
  %line.st18{:x1 => "306", :x2 => "303.1", :y1 => "37.3", :y2 => "37.3"}
  %g
    %defs
      %rect#SVGID_7_{:height => "203.1", :width => "407.3", :x => "3", :y => "1.1"}
    %clippath#SVGID_8_
      %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_7_"}
    %path.st19{:d => "M383.2,184.5l4.5,4.2c1.4,1.3,1.5,3.6,0.1,5l-0.2,0.3c-1.3,1.4-3.6,1.5-5,0.1l-4.7-4.4"}
    %path.st20{:d => "M383.2,184.5l4.5,4.2c1.4,1.3,1.5,3.6,0.1,5l-0.2,0.3c-1.3,1.4-3.6,1.5-5,0.1l-4.7-4.4"}
    %path.st19{:d => "M386.8,173.1c0,11.1-9,20.1-20.1,20.1c-11.1,0-20.1-9-20.1-20.1c0-11.1,9-20.1,20.1-20.1\n\t\tC377.8,153.1,386.8,162.1,386.8,173.1"}
    %circle.st20{:cx => "366.7", :cy => "173.1", :r => "20.1"}
    %path.st21{:d => "M381.5,173.1c0,8.2-6.6,14.8-14.8,14.8c-8.2,0-14.8-6.6-14.8-14.8c0-8.2,6.6-14.8,14.8-14.8\n\t\tC374.9,158.4,381.5,165,381.5,173.1"}
    %circle.st20{:cx => "366.7", :cy => "173.1", :r => "14.8"}
    %path.st21{:d => "M14.4,57.4c-0.6-2.5,2.9-39.2,40.9-39.2c33.7,0,44.2,21.9,44.2,39.3C95.2,45.3,86,27.1,57,27.1\n\t\tC19.7,27.1,16,59.9,14.4,57.4"}
    %path.st22{:d => "M99.7,80.2V66.3c0-21.6-17.3-39.2-38.5-39.2h-8.3c-21.2,0-38.5,17.6-38.5,39.2v12.6 M99.7,78.9V57.4\n\t\tc0-21.6-17.3-39.2-38.5-39.2h-8.3c-21.2,0-38.5,17.6-38.5,39.2v21.5"}
    %path.st23{:d => "M93.6,77.7c4.8,0,8.8,4,8.8,8.8c0,4.8-4,8.8-8.8,8.8"}
    %path.st23{:d => "M19.6,95.3c-4.8,0-8.8-4-8.8-8.8c0-4.8,4-8.8,8.8-8.8"}
    %path.st19{:d => "M28.7,107.1c-5,0-9.1-5.7-9.1-12.6v-14c0-6.9,4.1-12.6,9.1-12.6V107.1z"}
    %path.st24{:d => "M28.7,107.1c-5,0-9.1-5.7-9.1-12.6v-14c0-6.9,4.1-12.6,9.1-12.6V107.1z"}
    %path.st21{:d => "M35.5,111.6L35.5,111.6c-3.6,0-6.6-3-6.6-6.6V67.9c0-3.6,3-6.6,6.6-6.6c3.6,0,6.6,3,6.6,6.6v37.1\n\t\tC42.1,108.7,39.1,111.6,35.5,111.6"}
    %path.st24{:d => "M35.5,111.6L35.5,111.6c-3.6,0-6.6-3-6.6-6.6V67.9c0-3.6,3-6.6,6.6-6.6c3.6,0,6.6,3,6.6,6.6v37.1\n\t\tC42.1,108.7,39.1,111.6,35.5,111.6z"}
    %path.st19{:d => "M84.5,107.1c5,0,9.1-5.7,9.1-12.6v-14c0-6.9-4.1-12.6-9.1-12.6V107.1z"}
    %path.st24{:d => "M84.5,107.1c5,0,9.1-5.7,9.1-12.6v-14c0-6.9-4.1-12.6-9.1-12.6V107.1z"}
    %path.st21{:d => "M77.9,111.6L77.9,111.6c-3.6,0-6.6-3-6.6-6.6V67.9c0-3.6,3-6.6,6.6-6.6s6.6,3,6.6,6.6v37.1\n\t\tC84.5,108.7,81.5,111.6,77.9,111.6"}
    %path.st24{:d => "M77.9,111.6L77.9,111.6c-3.6,0-6.6-3-6.6-6.6V67.9c0-3.6,3-6.6,6.6-6.6s6.6,3,6.6,6.6v37.1\n\t\tC84.5,108.7,81.5,111.6,77.9,111.6z"}
