%svg#development{:space => "preserve", :style => "enable-background:new 0 0 383 225;", :version => "1.1", :viewbox => "0 0 383 225", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g
    %g
      %defs
        %rect#SVGID_1_{:height => "224.1", :width => "382.9", :y => "0.9"}
      %clippath#SVGID_2_
        %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_1_"}
      %rect.development0{:height => "101.7", :width => "174.9", :x => "207.4", :y => "122.6"}
      %rect.development0{:height => "101.7", :width => "174.9", :x => "207.4", :y => "122.6"}
      %rect.development0{:height => "72.1", :width => "174.9", :x => "207.4", :y => "122.6"}
      %rect.development0{:height => "72.1", :width => "174.9", :x => "207.4", :y => "122.6"}
      %rect.development0{:height => "101.7", :width => "174.9", :x => "0.6", :y => "1.5"}
      %rect.development0{:height => "101.7", :width => "174.9", :x => "0.6", :y => "1.5"}
      %rect.development0{:height => "54.1", :width => "174.9", :x => "0.6", :y => "1.5"}
      %rect.development0{:height => "54.1", :width => "174.9", :x => "0.6", :y => "1.5"}
      %path.development1{:d => "M38.4,74.9c0,4.4-3.6,8-8,8c-4.4,0-8-3.6-8-8s3.6-8,8-8C34.8,66.9,38.4,70.5,38.4,74.9"}
      %path.development1{:d => "M38.4,74.9c0,4.4-3.6,8-8,8c-4.4,0-8-3.6-8-8s3.6-8,8-8C34.8,66.9,38.4,70.5,38.4,74.9"}
      %path.development1{:d => "M97.2,74.9c0,5-4.1,9.1-9.1,9.1c-5,0-9.1-4.1-9.1-9.1s4.1-9.1,9.1-9.1C93.1,65.8,97.2,69.8,97.2,74.9"}
      %path.development1{:d => "M97.2,74.9c0,5-4.1,9.1-9.1,9.1c-5,0-9.1-4.1-9.1-9.1s4.1-9.1,9.1-9.1C93.1,65.8,97.2,69.8,97.2,74.9"}
      %path.development1{:d => "M151.6,74.9c0,5-4.1,9.1-9.1,9.1c-5,0-9.1-4.1-9.1-9.1s4.1-9.1,9.1-9.1C147.5,65.8,151.6,69.8,151.6,74.9"}
      %path.development1{:d => "M151.6,74.9c0,5-4.1,9.1-9.1,9.1c-5,0-9.1-4.1-9.1-9.1s4.1-9.1,9.1-9.1C147.5,65.8,151.6,69.8,151.6,74.9"}
    %path.development2{:d => "M131.5,92.4h22.1 M77.1,92.4h22.1 M21.9,92.4H44"}
    %path.development2{:d => "M131.5,92.4h22.1 M77.1,92.4h22.1 M21.9,92.4H44"}
    %rect.development3{:height => "6.5", :width => "111.3", :x => "32.4", :y => "21.9"}
    %rect.development3{:height => "6.5", :width => "111.3", :x => "32.4", :y => "21.9"}
    %line.development4{:x1 => "43.9", :x2 => "132.2", :y1 => "34.5", :y2 => "34.5"}
    %line.development4{:x1 => "43.9", :x2 => "132.2", :y1 => "34.5", :y2 => "34.5"}
    %g
      %defs
        %rect#SVGID_3_{:height => "224.1", :width => "382.9", :y => "0.9"}
      %clippath#SVGID_4_
        %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_3_"}
      %rect.development5{:height => "101.7", :width => "174.9", :x => "0.6", :y => "122.6"}
      %rect.development5{:height => "101.7", :width => "174.9", :x => "0.6", :y => "122.6"}
      %path.development6{:d => "M64.4,173.5c0,10.5-8.5,19-19,19s-19-8.5-19-19s8.5-19,19-19S64.4,163,64.4,173.5"}
      %path.development6{:d => "M64.4,173.5c0,10.5-8.5,19-19,19s-19-8.5-19-19s8.5-19,19-19S64.4,163,64.4,173.5"}
      %rect.development5{:height => "101.7", :width => "174.9", :x => "207.4", :y => "1.5"}
      %rect.development5{:height => "101.7", :width => "174.9", :x => "207.4", :y => "1.5"}
      %rect.development5{:height => "67.9", :width => "87.5", :x => "207.4", :y => "1.5"}
      %rect.development5{:height => "67.9", :width => "87.5", :x => "207.4", :y => "1.5"}
      %rect.development5{:height => "67.9", :width => "87.5", :x => "294.8", :y => "1.5"}
      %rect.development5{:height => "67.9", :width => "87.5", :x => "294.8", :y => "1.5"}
    %line.development4{:x1 => "250.7", :x2 => "339", :y1 => "82.1", :y2 => "82.1"}
    %line.development4{:x1 => "250.7", :x2 => "339", :y1 => "82.1", :y2 => "82.1"}
    %line.development4{:x1 => "271.3", :x2 => "318.3", :y1 => "91", :y2 => "91"}
    %line.development4{:x1 => "271.3", :x2 => "318.3", :y1 => "91", :y2 => "91"}
    %line.development4{:x1 => "250.7", :x2 => "339", :y1 => "203.2", :y2 => "203.2"}
    %line.development4{:x1 => "250.7", :x2 => "339", :y1 => "203.2", :y2 => "203.2"}
    %g
      %defs
        %rect#SVGID_5_{:height => "224.1", :width => "382.9", :y => "0.9"}
      %clippath#SVGID_6_
        %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_5_"}
      %path.development7{:d => "M264.7,51h-27.3c-0.2,0-0.3-0.1-0.3-0.3v-5.8c0-0.2,0.1-0.3,0.3-0.3h27.3c0.2,0,0.3,0.1,0.3,0.3v5.8\n\t\t\tC265.1,50.8,264.9,51,264.7,51"}
      %path.development7{:d => "M264.7,51h-27.3c-0.2,0-0.3-0.1-0.3-0.3v-5.8c0-0.2,0.1-0.3,0.3-0.3h27.3c0.2,0,0.3,0.1,0.3,0.3v5.8\n\t\t\tC265.1,50.8,264.9,51,264.7,51"}
    %line.development4{:x1 => "279.1", :x2 => "222.4", :y1 => "29.7", :y2 => "29.7"}
    %line.development4{:x1 => "279.1", :x2 => "222.4", :y1 => "29.7", :y2 => "29.7"}
    %line.development4{:x1 => "266", :x2 => "235.5", :y1 => "20.7", :y2 => "20.7"}
    %line.development4{:x1 => "266", :x2 => "235.5", :y1 => "20.7", :y2 => "20.7"}
    %line.development8{:x1 => "243.8", :x2 => "257.7", :y1 => "48", :y2 => "48"}
    %line.development8{:x1 => "243.8", :x2 => "257.7", :y1 => "48", :y2 => "48"}
    %g
      %defs
        %rect#SVGID_7_{:height => "224.1", :width => "382.9", :y => "0.9"}
      %clippath#SVGID_8_
        %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_7_"}
      %path.development9{:d => "M352.5,51h-27.3c-0.2,0-0.3-0.1-0.3-0.3v-5.8c0-0.2,0.1-0.3,0.3-0.3h27.3c0.2,0,0.3,0.1,0.3,0.3v5.8\n\t\t\tC352.9,50.8,352.7,51,352.5,51"}
      %path.development9{:d => "M352.5,51h-27.3c-0.2,0-0.3-0.1-0.3-0.3v-5.8c0-0.2,0.1-0.3,0.3-0.3h27.3c0.2,0,0.3,0.1,0.3,0.3v5.8\n\t\t\tC352.9,50.8,352.7,51,352.5,51"}
    %line.development4{:x1 => "367.2", :x2 => "310.6", :y1 => "29.7", :y2 => "29.7"}
    %line.development4{:x1 => "367.2", :x2 => "310.6", :y1 => "29.7", :y2 => "29.7"}
    %line.development4{:x1 => "354.1", :x2 => "323.7", :y1 => "20.7", :y2 => "20.7"}
    %line.development4{:x1 => "354.1", :x2 => "323.7", :y1 => "20.7", :y2 => "20.7"}
    %line.development8{:x1 => "332", :x2 => "345.8", :y1 => "48", :y2 => "48"}
    %line.development8{:x1 => "332", :x2 => "345.8", :y1 => "48", :y2 => "48"}
    %line.development10{:x1 => "92.1", :x2 => "133.7", :y1 => "153.3", :y2 => "153.3"}
    %line.development10{:x1 => "92.1", :x2 => "133.7", :y1 => "153.3", :y2 => "153.3"}
    %path.development11{:d => "M92.1,178.5h55.3 M92.1,168h55.3"}
    %path.development11{:d => "M92.1,178.5h55.3 M92.1,168h55.3"}
    %g
      %defs
        %rect#SVGID_9_{:height => "224.1", :width => "382.9", :y => "0.9"}
      %clippath#SVGID_10_
        %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_9_"}
      %path.development12{:d => "M119.3,194.8H92c-0.2,0-0.3-0.1-0.3-0.3v-5.8c0-0.2,0.1-0.3,0.3-0.3h27.3c0.2,0,0.3,0.1,0.3,0.3v5.8\n\t\t\tC119.6,194.6,119.5,194.8,119.3,194.8"}
      %path.development12{:d => "M119.3,194.8H92c-0.2,0-0.3-0.1-0.3-0.3v-5.8c0-0.2,0.1-0.3,0.3-0.3h27.3c0.2,0,0.3,0.1,0.3,0.3v5.8\n\t\t\tC119.6,194.6,119.5,194.8,119.3,194.8"}
    %line.development8{:x1 => "98.4", :x2 => "112.2", :y1 => "191.9", :y2 => "191.9"}
    %line.development8{:x1 => "98.4", :x2 => "112.2", :y1 => "191.9", :y2 => "191.9"}
    %g
      %defs
        %rect#SVGID_11_{:height => "224.1", :width => "382.9", :y => "0.9"}
      %clippath#SVGID_12_
        %use{:style => "overflow:visible;", "xlink:href" => "#SVGID_11_"}
      %path.development13{:d => "M308.8,216.8h-27.3c-0.2,0-0.3-0.1-0.3-0.3v-5.8c0-0.2,0.1-0.3,0.3-0.3h27.3c0.2,0,0.3,0.1,0.3,0.3v5.8\n\t\t\tC309.1,216.7,309,216.8,308.8,216.8"}
      %path.development13{:d => "M308.8,216.8h-27.3c-0.2,0-0.3-0.1-0.3-0.3v-5.8c0-0.2,0.1-0.3,0.3-0.3h27.3c0.2,0,0.3,0.1,0.3,0.3v5.8\n\t\t\tC309.1,216.7,309,216.8,308.8,216.8"}
    %line.development8{:x1 => "287.9", :x2 => "301.8", :y1 => "213.9", :y2 => "213.9"}
    %line.development8{:x1 => "287.9", :x2 => "301.8", :y1 => "213.9", :y2 => "213.9"}
    %line.development10{:x1 => "305", :x2 => "346.6", :y1 => "146.4", :y2 => "146.4"}
    %line.development10{:x1 => "305", :x2 => "346.6", :y1 => "146.4", :y2 => "146.4"}
    %path.development11{:d => "M305.1,171.6h55.3 M305.1,161.1h55.3"}
    %path.development11{:d => "M305.1,171.6h55.3 M305.1,161.1h55.3"}
    %rect.development14{:height => "43.1", :width => "43.1", :x => "226.3", :y => "137.2"}
    %rect.development14{:height => "43.1", :width => "43.1", :x => "226.3", :y => "137.2"}
