%svg.form-exit-icon{:height => "72", :viewbox => "0 0 72 72", :width => "72", :xmlns => "http://www.w3.org/2000/svg"}
  %circle.cls-1{:cx => "36", :cy => "36", :r => "35"}
  %path.cls-2{:d => "M138.651,415.272l1.414-1.414,27.577,27.577-1.414,1.414Z", :transform => "translate(-117 -392)"}
  %path#Rectangle_9_copy.cls-2{:d => "M138.358,441.435l27.577-27.577,1.414,1.414-27.577,27.577Z", "data-name" => "Rectangle 9 copy", :transform => "translate(-117 -392)"}
