// Icons
i {
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: $icon-color;

  &:hover {
    color: $icon-color-hover;
  }
}

#ctb {
  width: rem-calc(58.3px);
  height: rem-calc(53px);
  .st0{fill:#FFFFFF;}
}

#review {
  width: rem-calc(364);
  height: rem-calc(265);

  .review0{fill:#FFFFFF;}
  .review1{fill:#828282;}
  .review2{fill:#F2F2F2;}
  .review3{fill:#FFD157;}
  .review4{fill:#C9A62B;}
  .review5{fill:#ABD145;}
  .review6{fill:#70A642;}
  .review7{fill:#F05759;}
  .review8{fill:#B82126;}
  .review9{fill:#2B2B2B;}
  // .review10{}
  .review11{fill:#DEE0E0;}
  .review12{fill:#EDEDED;}
  .review13{clip-path:url(#SVGID_4_);fill:#828282;}
  .review14{clip-path:url(#SVGID_4_);fill:#9E9E9E;}
  .review15{clip-path:url(#SVGID_4_);fill:#387ABF;}
  .review16{clip-path:url(#SVGID_4_);fill:#3387C7;}
  .review17{fill:#FFFFFF;}
  .review18{clip-path:url(#SVGID_6_);fill:#FFFFFF;}
  .review19{fill:#DEDEDB;}
  .review20{clip-path:url(#SVGID_8_);fill:#828282;}
  .review21{clip-path:url(#SVGID_10_);fill:#828282;}
  .review22{clip-path:url(#SVGID_12_);fill:#828282;}
  .review23{clip-path:url(#SVGID_12_);fill:#3387C7;}
  .review24{clip-path:url(#SVGID_12_);fill:#EDEDED;}
  .review25{clip-path:url(#SVGID_12_);fill:#E3E3E0;}
  .review26{clip-path:url(#SVGID_12_);fill:none;stroke:#8C8F8F;stroke-miterlimit:10;}
  .review27{fill:none;stroke:#8C8F8F;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .review28{clip-path:url(#SVGID_14_);fill:#FFFFFF;}
  .review29{clip-path:url(#SVGID_14_);fill:none;stroke:#8C8F8F;stroke-miterlimit:10;}
  .review30{clip-path:url(#SVGID_16_);fill:none;stroke:#8C8F8F;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .review31{fill:#33546E;}
  .review32{font-family:'MyriadPro-Regular';}
  .review33{font-size:9.925px;}
}

#kick-off {
  width: rem-calc(282);
  height: rem-calc(388);

  .st0{clip-path:url(#testoff_2_);fill:none;stroke:#387ABF;stroke-width:1.17;stroke-miterlimit:10;}
  .st1{clip-path:url(#testoff_2_);}
  .st2{fill:#DDE0E0;}
  .st3{fill:#B3BABA;}
  .st4{fill:none;stroke:#9C9D9C;stroke-width:2;stroke-miterlimit:10;}
  .st5{clip-path:url(#testoff_2_);fill:none;stroke:#387ABF;stroke-miterlimit:10;}
  .st6{clip-path:url(#testoff_2_);fill:none;stroke:#9C9D9C;stroke-width:2;stroke-miterlimit:10;}
  .st7{clip-path:url(#testoff_2_);fill:#FFFFFF;}
  .st8{clip-path:url(#testoff_2_);fill:none;stroke:#9C9D9C;stroke-miterlimit:10;}
  .st9{clip-path:url(#testoff_2_);fill:#387ABF;}
  .st10{fill:none;}
}

#development {
  width: rem-calc(383);
  height: rem-calc(225);

  .development0{fill:none;stroke:#8C8E8E;stroke-width:1.046;stroke-miterlimit:10;}
  .development1{clip-path:url(#SVGID_2_);fill:#E5E8E8;}
  .development2{fill:none;stroke:#387ABF;stroke-width:0.993;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .development3{fill:#DBDEDE;}
  .development4{fill:none;stroke:#949499;stroke-width:0.993;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .development5{fill:none;stroke:#8C8E8E;stroke-width:1.046;stroke-miterlimit:10;}
  .development6{fill:#E5E8E8;}
  .development7{clip-path:url(#SVGID_6_);fill:#387ABF;}
  .development8{fill:none;stroke:#FFFFFF;stroke-width:0.497;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .development9{clip-path:url(#SVGID_8_);fill:#387ABF;}
  .development10{fill:none;stroke:#949499;stroke-width:1.49;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .development11{fill:none;stroke:#BDBFBF;stroke-width:0.993;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .development12{clip-path:url(#SVGID_10_);fill:#387ABF;}
  .development13{clip-path:url(#SVGID_12_);fill:#387ABF;}
  .development14{fill:#E5E8E8;}
}

#comm {
  width: rem-calc(414);
  height: rem-calc(205);

  .st0{fill:#FFFFFF;}
  .st1{clip-path:url(#SVGID_2_);fill:none;stroke:#8B8E8E;stroke-width:1.135;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#8B8E8E;stroke-width:1.135;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{clip-path:url(#SVGID_4_);fill:none;stroke:#8B8E8E;stroke-width:1.135;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#C6C6C8;}
  .st5{fill:none;stroke:#387ABE;stroke-width:1.135;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st6{fill:none;stroke:#9D9DA2;stroke-width:1.135;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st7{fill:none;stroke:#3386C6;stroke-width:1.135;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st8{fill:none;stroke:#3185C6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st9{fill:none;stroke:#8B8E8E;stroke-width:1.163;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st10{fill:none;stroke:#8B8E8E;stroke-width:0.949;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st11{clip-path:url(#SVGID_6_);fill:#F1F1F1;}
  .st12{clip-path:url(#SVGID_6_);fill:none;stroke:#8B8E8E;stroke-width:1.135;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st13{clip-path:url(#SVGID_6_);fill:#387ABE;}
  .st14{clip-path:url(#SVGID_6_);fill:none;stroke:#8B8E8E;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st15{clip-path:url(#SVGID_6_);fill:#E4E7E7;}
  .st16{clip-path:url(#SVGID_6_);fill:#FFFFFF;}
  .st17{clip-path:url(#SVGID_6_);fill:none;stroke:#8B8E8E;stroke-width:0.8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st18{fill:none;stroke:#8B8E8E;stroke-width:0.8;stroke-linejoin:round;stroke-miterlimit:10;}
  .st19{clip-path:url(#SVGID_8_);fill:#FFFFFF;}
  .st20{clip-path:url(#SVGID_8_);fill:none;stroke:#8B8E8E;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st21{clip-path:url(#SVGID_8_);fill:#E4E7E7;}
  .st22{clip-path:url(#SVGID_8_);fill:none;stroke:#8B8E8E;stroke-width:1.092;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st23{clip-path:url(#SVGID_8_);fill:#3386C6;}
  .st24{clip-path:url(#SVGID_8_);fill:none;stroke:#8B8E8E;stroke-width:1.102;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.bella {
  width: rem-calc(195);
  height: rem-calc(46);
}

.ometria {
  width: rem-calc(133);
  height: rem-calc(20);
}
