// Icons
i {
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: $icon-color;

  &:hover {
    color: $icon-color-hover;
  }
}

.ctb {
  width: rem-calc(58.3px);
  height: rem-calc(53px);
  .st0{fill:#FFFFFF;}
}

.review{
  width: rem-calc(364);
  height: rem-calc(265);
}

.kick-off{
  width: rem-calc(282);
  height: rem-calc(388);
}

.development{
  width: rem-calc(383);
  height: rem-calc(225);
}
