// Colors
$off-white: #f1f1f1;
$gray: #666666;
$gray-blue: #536069;
$light-blue: #dee4e9;
$light-green: #2ab292;
$light-gray: #999;
$medium-gray: #666;
$dark-gray: #333;
$dark-blue: #175681;
$green: #3FC380;
$red: #D24D57;
$yellow: #f1c205;
$orange: #f08a24;
$blue: #2386c9;
$black-blue: #131d24;

// Backgrounds
$body-background-color: white;


// Typography
$base-font-size: 16px;
$base-small-font-size: 15px;
$base-line-height: 24px;

$ms-base: $base-font-size;
$ms-small-base: $base-small-font-size;

$ms-ratio: $augmented-fourth;
$ms-small-ratio: $major-third;

$ms-up-3: ms(4);
$ms-up-2: ms(3);
$ms-up-1: ms(2);
$ms-up:   ms(1);
$ms-0: $ms-base;
$ms-down: ms(-1);

$ms-small-up-3: ms(4, $ms-base, $ms-small-ratio);
$ms-small-up-2: ms(3, $ms-base, $ms-small-ratio);
$ms-small-up-1: ms(2, $ms-base, $ms-small-ratio);
$ms-small-up:   ms(1, $ms-base, $ms-small-ratio);
$ms-0: $ms-base;
$ms-small-down:  ms(-1);

$font-family: "brandon-grotesque", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$font-weight: normal;
$font-color: $medium-gray;
$header-font-family: "brandon-grotesque", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$header-font-color: $dark-gray;


// Button (Normal)
$button-font-size: rem-calc(14);
$button-font-weight: $font-weight;
$button-color: $gray-blue;
$button-background-color: transparent;
$button-border-width: rem-calc(2);
$button-border-style: solid;
$button-border-color: $blue;
$button-border-radius: rem-calc(20);
$button-spacing: 0.5em 2em;

// Button (Hover)
$button-hover-color: white;
$button-hover-border-width: rem-calc(2);
$button-hover-border-style: solid;
$button-hover-border-color: $blue;
$button-hover-border-radius: rem-calc(20);
$button-hover-background-color: $blue;



// Links
$link-color: $light-blue;
$link-color-hover: scale_color($link-color, $lightness: -20%);
$link-color-active: $dark-blue;


// Labels
$hide-required-symbols: true;
$label-font-family: $font-family;
$label-font-weight: $font-weight;
$label-font-size: rem-calc(16);
$label-color: black;

// Inputs (Normal)
$input-font-family: $font-family;
$input-font-weight: $font-weight;
$input-font-spacing: 0.005em;
$input-color: $blue;
$input-spacing: 0.425em 0;
$input-padding: 0.45em;
$input-background-color: transparent;
$input-border-width: rem-calc(1);
$input-border-style: solid;
$input-border-color: $dark-blue;
$input-border-radius: rem-calc(2);
$input-box-shadow: none;

// Inputs (Hover)
$input-hover-color: $dark-blue;
$input-hover-background-color: white;
$input-hover-border-width: rem-calc(1);
$input-hover-border-style: solid;
$input-hover-border-color: $dark-blue;
$input-hover-box-shadow: none;

// Inputs (Placeholder)
$input-placeholder-color: #999;

// Inputs (Focused)
$input-focused-color: $dark-blue;
$input-focused-border-width: $input-hover-border-width;
$input-focused-border-style: $input-hover-border-style;
$input-focused-border-color: $blue;
$input-focused-background-color: $input-hover-background-color;
$input-focused-box-shadow: $input-hover-box-shadow;


// Forms
$label-weight: 200;
$label-color: $dark-gray;
$form-color: $medium-gray;
$form-background-color: white;
$form-background-color-focus: $off-white;
$form-box-shadow: none;
$form-border-color: #ccc;
$form-border-color-hover: scale_color($form-border-color, $lightness: -20%);
$placeholder-text-color: $light-gray;


// Tables
$table-header-color: $dark-gray;
$table-color: $medium-gray;
$table-odd-background-color: white;
$table-even-background-color: $light-gray;


// Lists
$list-item-background-color: white;
$list-item-background-color-odd: scale_color($list-item-background-color, $lightness: -3%);


// Borders
$round-edges: rem-calc(5);
$border-color: $light-green;


// Flashes
$alert-background-color: $red;
$alert-border-color: $alert-background-color;
$success-background-color: $green;
$success-border-color: $success-background-color;
$warning-background-color: $orange;
$warning-border-color: $warning-background-color;
$close-color: white;


// States
$state-color: white;
$state-green-background-color: $green;
$state-yellow-background-color: $yellow;
$state-red-background-color: $red;


// Icons
$icon-color: $gray;
$icon-color-hover: scale_color($icon-color, $lightness: -20%);


// Navigations
$use-sidebar: false;
$use-thin-sidebar: false;

$sidebar-width: rem-calc(260);
$sidebar-background-color: $dark-blue;
$sidebar-color: white;
$sidebar-color-hover: scale_color($sidebar-color, $lightness: -20%);
$sidebar-color-active: scale_color($sidebar-color, $lightness: -30%);

$thin-icon-font-size: rem-calc(21);
$thin-sidebar-width: rem-calc(80);
$thin-sidebar-background-color: $dark-blue;
$thin-sidebar-color: white;
$thin-sidebar-color-hover: scale_color($thin-sidebar-color, $lightness: -20%);
$thin-sidebar-color-active: scale_color($thin-sidebar-color, $lightness: -30%);

$topbar-background-color: $dark-blue;
$topbar-color: white;
$topbar-color-hover: scale_color($topbar-color, $lightness: -20%);
$topbar-color-active: scale_color($thin-sidebar-color, $lightness: -30%);


// Plans
$plan-title-font-size: $ms-up;
$plan-price-font-size: $ms-up-3;
$plan-background-color: $dark-blue;
$plan-title-background-color: $dark-blue;
$plan-price-background-color: scale_color($plan-background-color, $lightness: 5%);
$plan-color: white;


// Dropdowns
$dropdown-background-color: $dark-blue;
$dropdown-color: white;
$dropdown-color-hover: scale_color($dropdown-color, $lightness: -20%);
